<html>
  <head>
    <title>pbandme</title>
    <script type="text/javascript" src="/javascript/jquery-1.3.2.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/home.css"> 
    {% include "googanalysis.html" %}
  </head>
  <body>
    <!-- Wrapper: Border must be there for footer-->
    <div class="wrapper" style="border: 1px solid #FFF;">

      <!-- Content -->
      <div style="text-align: right;
		  width: 975px;
		  margin: 49 auto;
		  ">

	<!-- Header Container-->
	<div style="height:65;">
	  <div style="float:right; text-align:right;">
	    {% include "logo.html" %}
	  </div>

	  <!-- Menu -->
	  <div class="topMenu">
	    <a href="/create">Start</a>
	    &nbsp;|&nbsp;
	    <a href="/browse">Browse</a>
	    &nbsp;|&nbsp;
	    <a href="/user">My Hangouts</a>
	    &nbsp;|&nbsp;
	    <a href="/auth/logout">Logout</a>
	  </div>
	</div>
      
	<!-- Grey Box -->
	<div style="text-align: left;width:975; background-color: #EEE;">

	  <!-- Begin Matt's Bio -->
	  <div style="padding:25px;
		      border-bottom: 1px solid #FFF;
		      height: 200px;">
	    <img src="images/about/matt.png" width="175px" style="margin-right:20px;float:left">
	    <!-- Matt's Copy -->
	    <div class="bioCopy" style="line-height: 130%;padding:20px;">
	      <div class="bioHeader" style="color: #F90">Matt Barackman</div>
	      Originally from New England, Matt was lured out to the West Coast for his undergrad at UC Berkeley.
              He's been working in an old SF firehouse ever since doing brand strategy for clients like the
              Mozilla Foundation. He's an absolute beer nerd and loves dreaming up new business ideas. 
	    </div>

	    <!-- End Matt's Bio -->
	  </div>

	  <div style="padding:25px;
		      border-bottom: 1px solid #FFF;
		      height: 200px;">
	    <img src="images/about/roger.png" width="175px" style="margin-right:20px;float:left">
	    <div class="bioCopy" style="line-height: 130%;padding:20px;">
	      <div class="bioHeader" style="color: #C09">Roger Cosseboom</div>
	      Roger has lived more than 25 places in his 29 years. He has been programming since he was 13.
              While making this site he surpassed Voltaire's daily dose of 55 cups of coffee
	      in a 24 hour period.
	    </div>
	  </div>

	  <!-- End Grey Box -->
	</div>

	<!-- Page Container -->
	<div class="push"></div>

      <!-- End Content -->
      </div>
      
    <!-- End Wrapper -->
    </div>

    <!-- Footer -->
    {% include "page-footer.html" %}
    
  </body> 
</html>
