<html>
  <head><title>pbandme</title>
    <link type="text/css" rel="stylesheet" href="/css/home.css"> 
    {% include "googanalysis.html" %}
  </head>
  <body>
    <!-- Wrapper: Border must be there for footer-->
    <div class="wrapper" style="border: 1px solid #FFF;">

      <!-- Content -->
      <div style="text-align: right;
		  width: 975px;
		  margin: 49 auto;
		  ">

	<!-- Header Container-->
	<div style="height:65;">
	  <div style="float:right; text-align:right;">
	    {% include "logo.html" %}
	  </div>

	  <!-- Menu -->
	  <div class="topMenu">
	    <a href="/create">Start</a>
	    &nbsp;|&nbsp;
	    <a href="/browse">Browse</a>
	    &nbsp;|&nbsp;
	    <a href="/user">My Hangouts</a>
	    &nbsp;|&nbsp;
	    <a href="/auth/logout">Logout</a>
	  </div>
	</div>
      
	<!-- Grey Box -->
	<div style="text-align: left;width:975;">

	  <!-- Event Info Box -->
	  <div class="eventInfoBox">
	    
	    <!-- Generate Number -->
	    <div class="memberNumberBrowse" style="float:right;
						   font-style: normal;">
	      {{ members|length }}
	      <div style="font-size:12; margin-top:-6">
		{% if members|length < 2 %}
                  person
	        {% else %}
		  people
	        {% endif %}
	      </div>
	    <!-- End of Number -->
	    </div>

	    <!-- Edit Button -->
	    {% if editable %}
	    <div style="float: right; margin: 80 -60 0 0;">
	      <input class="editButton" type="submit" value="Edit" onclick="window.location='/edit?event={{ key }}'">
	    </div>
	    {% endif %}
	    <!-- End Edit Button -->
	    
	    <!-- Event Info -->
	    <div class="eventInfo">
	      <b>{{ title }}</b>
	      <br>
	      {{ datetime }} at <b>{{ location }}</b>
	    </div>

	    <!-- Description -->
	    {% if description %}
	    <br>
	      {{ description }}<br>
	    {% endif %}
	    
	  <!-- End Info Box -->
	  </div>
	
	<!-- Join Button -->
	{% if join_button %}
	<div style="text-align: center;">
	  <input class="joinButton"
		 style="margin-top: 20; color: #FFF; width:300"
		 onclick="window.location='/join?key={{ key }}'"
		 type="Button" value="I'll Come Too!">
	</div>
	{% endif %}

	<!-- List of Users -->
	<!--
	    <div style="margin-top:20px">
	      {% for user in members %}
	      <div class="ResultsText" style="font-size:18;background-color: {% cycle #EEE,#DDD %};">
		{{ user.email }}
	      </div>
	      {% endfor %}
	    </div>
	-->
	
	<!-- Comments Area -->
	<form action="/post" method="post" name="post">
	    <textarea class="formElement"
		      onclick="if (value == 'Got a question about this hangout? Ask it here...') {value='';} else {value=value;};"
		      onfocus="if (value == 'Got a question about this hangout? Ask it here...') {value='';} else {value=value;};"
		      name="comment_content"
		      style="margin-top:20;width:100%;height:150px;">Got a question about this hangout? Ask it here...</textarea>
	  <input type="hidden" name="event_key" value="{{ key }}">
	  <input class="createButton" type="submit" value="Comment" onclick='document.form[0].submit()'>
	  <input class="resetButton" type="reset" value="Reset" >
	</form>

	<!-- List of Posts -->
	<div class="commentList">
	  {% for p in posts %}

	  <!-- Post -->
	  <div class="ResultsText" style="height: 50px; margin: 0px; font-size: 18; background-color: {% cycle #EEE,#DDD %};">
	    <img class="commentPicture"src="/profilepic?key={{ p.author.key }}">
	    <b>{{ p.author.name }} says...</b>
	    <p>{{ p.content }}
	  </div>

	  {% endfor %}
	</div>

	<!-- End Grey Box -->
	</div>

	<!-- Page Container -->
	<div class="push"></div>

      <!-- End Content -->
      </div>
      
    <!-- End Wrapper -->
    </div>

    <!-- Footer -->
    {% include "page-footer.html" %}
    
  </body> 
</html>
