<html> 
  <head><title>pbandme</title> 
  </head>
  <link type="text/css" rel="stylesheet" href="/css/home.css"> 
  <body>
    {% include "logo.html" %}
    <div class="ResultsText" style="color:#666;margin-top:-20;font-size: 20;text-align: center;margin-top:20;"> 
      <span style="font-family:georgia;font-size: 80;"><span style="color: #FF9900">Find a group</span> <span style="color: #CC0099">like you,</span><br> <span style="color: #E70000">in real life.</span></span>
      <div style="text-align: center;margin-top: 80px;margin-left: auto;margin-right: auto;width: 100%">
        <span onclick="window.location='/browse'" class="browseButton" style="font-weight: bold;color: ffffff;margin-right: 5px;">find a hangout</span> 
	<B>&nbsp;or&nbsp;</B>
	<span onclick="window.location = '/create'" class="startButton" style="font-weight:bold;color: ffffff;margin-left:5px;">start a hangout</span> 
      </div>
    </div>
    {% include "footer.html" %}
    <div class="smallNotes" style="margin-top:10;font-style:normal;text-align:center;color:#777;font-size:12">PS. We're still working on all this, so be gentle!<br>-Roger + Matt</div>
  </body>
</html>
