<html>
  <head>
    <title>pbandme</title>
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    {% include "googanalysis.html" %}
  </head>
  <body>  
    
    <!-- BIGGER Content Box  -->
    <div style="text-align: left;
		margin-left: auto;
		margin-right: auto;
		width:975;
		height:800;
		background-color: #eee;
		{% comment %}border: 1px solid black{% endcomment %}
		height: 500;">

      
      <!-- Left Content Box  -->
      <div style="text-align: left;
		  width:400;
		  float:left;
		  padding-left:10;
		  padding-top:10;
		  padding-right:10;
		  {%comment%}border: 2px solid red;{%endcomment%}">
	
	<!-- Tag Line -->
	<span style="font-family:georgia;font-size: 80;">
	  <span style="color: #FF9900">&#64257;nd people</span><br>
	  <span style="color: #E70000">like you,</span><br>
	  <span style="color: #CC0099;">in real life.</span><br>
	  <a href="/auth/login">
	    <span style="color: #133783;">
	      sign-in:
	      </span>
	    <img src="images/social/icons_facebook.png" width="50">
	  </a>
	</span>

      </div>

       
      <!-- Right Content Box  -->
      <div style="width:550;
		  height:500;
		  float:right;
		  {%comment%}border: 2px solid green{%endcomment%};
		  overflow-x:hidden; 
		  overflow-y:scroll;
		">

	<!-- List Events -->
	{% for event in events %}
	<div class="ResultsText" style="background-color: {% cycle #EEE,#DDD %};">
	  <div class="memberNumberBrowse" style="text-align:center;background-color: #ffffff;height:60px;width:60px;float:left;margin-right:20;">
	    {{ event.members|length }}
	    <div style="font-size:12">
	      {% if event.members|length < 2 %}
                person
	      {% else %}
		people
	      {% endif %}
	    </div>
	  </div>
	  <a href="/event?key={{ event.key }}"><b>{{ event.title }}</b><br>at {{ event.location }}</a>
	  <div style="clear:both"></div>
	</div>
	{% endfor %}
      </div>
      <!-- End List of Events -->

      
    </div>
    <div style="text-align:center;margin-top:80;">
      {% include "footer.html" %}
      {% include "logo.html" %}
    </div>
  </body> 
</html>
