<html>
  <head>
    <title>pbandme</title>
    <link type="text/css" rel="stylesheet" href="/css/home.css"> 
    <script type="text/javascript" src="/javascript/jquery-1.3.2.min.js"></script>
    <script type="text/javascript">
      function purgeEvent(num, div, eventKey) {
          $.ajax({url: '/purge?key=' + eventKey, context: document.body, type: 'POST'});
          div.parent().parent().fadeOut();
      }
    </script>
    {% include "googanalysis.html" %}
  </head>
  <body>

    <!-- Wrapper: Border must be there for footer-->
    <div class="wrapper" style="border: 1px solid #FFF;">

      <!-- Content -->
      <div style="text-align: right;
		  width: 975px;
		  margin: 49 auto;
		  ">

	<!-- Header Container-->
	<div style="height:65;">
	  <div style="float:right; text-align:right;">
	    {% include "logo.html" %}
	  </div>

	  <!-- Menu -->
	  <div class="topMenu">
	    <a href="/create">Start</a>
	    &nbsp;|&nbsp;
	    <a href="/browse">Browse</a>
	    &nbsp;|&nbsp;
	    <span style="color: #000">My Hangouts</span>
	    &nbsp;|&nbsp;
	    <a href="/auth/logout">Logout</a>
	    </div>
	</div>
      
	<!-- Grey Box -->
	<div style="text-align: left;width:975;">
	
	  <!-- List of Events -->
          {% if events|length > 1 %}
	  {% for event in events %}
	  <div class="ResultsText" style="font-size: 18;background-color: {% cycle #EEE,#DDD %};">
	    <a href="/event?key={{ event.key }}">
	      <b>{{ event.title }}</b> at <b>{{ event.location }}</b>
	    </a>
	    <span style="font-style: italic; font-family: georgia; float: right;">
	      {% if event.creator.id == current_user.id and event.members|length < 3 %}
                <a href="#" onclick="purgeEvent({{ forloop.counter }}, $(this), '{{ event.key }}');">
		  Delete</a>
		&nbsp;|&nbsp;
		<a href="/unjoin?key={{ event.key }}">Leave</a>
	      {% else %}
		<a href="/unjoin?key={{ event.key }}">Leave</a>
              {% endif %}
	    </span>
	  </div>
	  {% endfor %}

	  {% else %}
	  <div class="ResultsText" style="font-size: 18;background-color: #EEE;">
	  You haven't joined any hangouts yet. Try <A href="/browse"><b>browsing</b></a> for one or <a href="/create"><b>start your own!</b></a>
	  </div>
	 {% endif %}
	<!-- End Grey Box -->
	</div>

	<!-- Page Container -->
	<div class="push"></div>

      <!-- End Content -->
      </div>
      
    <!-- End Wrapper -->
    </div>

    <!-- Footer -->
    {% include "page-footer.html" %}
    
  </body> 
</html>
